body {
    font-family: 'Times New Roman', sans-serif !important;
    background-color: whitesmoke;
}

h2 {
    font-family: 'Times New Roman', sans-serif !important;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.product-title {
    font-size: 1rem;
    text-align: center;
    padding-top: 0.5rem;
    font-weight: bold;
}

#banner {
    min-height: 100px;
}

.product-list {
    list-style: none;
    padding: 0;
}
  

.product-item-div {
    background-color: white;
    box-shadow: 10px 5px 5px lightgray;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    height: 100%;
}

.p-10 {
    padding: 10px;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    max-width: 100px;
}

.product-price {
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.price {
    font-size: 1rem;
}

.lowest-price {
    font-size: 12px;
    display: block;
    text-align: center;
}

.shopping-list-btn {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

#main-menu li {
    border-radius: 10%;
    background-color: rgb(245,230,230);
    margin-left: 5px;
    box-shadow: blue;
}

.highlighted {
    border-radius: 10%;
    background-color: rgb(200,200,200);
    box-shadow: 5px 2px 2px lightgray;
}